// *************************************
//
//   Button
//   -> You click it.
//
// *************************************

.btn
  border: 0
  font-size: 100%
  font-weight: 700
  line-height: $b-whitespace
  padding: $b-whitespace/2 $b-whitespace*0.75
  text-align: center
  text-decoration: none
  transition: $b-transition
  width: 100%

// -------------------------------------
//   Modifiers
// -------------------------------------

.btn--primary
  background-color: $c-highlight
  box-shadow: inset $b-boxHighlight, $b-boxShadow
  border: 1px solid $c-primary-dark
  border-radius: $b-borderRadius
  color: $c-invert
  display: inline-block
  &:hover,
  &:focus
    background-color: $c-primary-light
    border-color: $c-primary
  &:active
    background-color: $c-primary-dark
    border-color: $c-primary-darker
  +respond-to($bp-settings)
    width: auto


// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-sub

