// *************************************
//
//   Scale
//   -> This is an example structure
//
// *************************************

.scale
  list-style: none
  padding-left: $b-whitespace
  +respond-to($bp-info)
    padding-left: $b-whitespace*1.5


// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.scale-item
  @extend .group
  line-height: 1
  margin-bottom: $b-whitespace
  position: relative
  &::before
    content: none

.scale-label
  font-size: $b-fontSize-aaa
  line-height: 1
  position: absolute
  text-align: right
  top: 50%
  transform: translateY(-50%)
  width: $b-whitespace

.scale-preview
  line-height: 1
  margin: 0
  padding-left: $b-whitespace*2
  white-space: nowrap

