// *************************************
//
//   Scale
//   -> This is an example structure
//
// *************************************

.scale
  background-color: $c-background-light
  list-style: none
  margin-bottom: 0
  overflow: hidden
  padding: 0
  +respond-to($bp-settings)
    margin-right: 300px
    padding: $b-whitespace
  +respond-to($bp-info)
    margin-left: 300px
    overflow-x: hidden
    overflow-y: auto


// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.scale-item
  @extend .group
  line-height: 1
  position: relative
  &::before
    content: none

.scale-label
  font-size: $b-fontSize-aaa
  line-height: 1
  position: absolute
  text-align: right
  width: $b-whitespace

.scale-preview
  line-height: 1
  padding-left: $b-whitespace*2
  white-space: nowrap

