// *************************************
//
//   Application
//   -> MVCSS v3.0.3 ~ v4.0.0-alpha
//   Because an MIT license means I can
//   pick and choose what I like
//
// *************************************

// -------------------------------------
//   Core
// -------------------------------------

@import "core/reset"
@import "core/settings"
@import "core/helpers"
@import "core/utilities"
@import "core/base"

// -------------------------------------
//   Components
// -------------------------------------

@import "components/grid"

// -------------------------------------
//   Structures
// -------------------------------------

@import "modules/button"

@import "modules/accordion"
@import "modules/form"
@import "modules/icon"
@import "modules/input"
@import "modules/logo"
@import "modules/range"
@import "modules/scale"
@import "modules/sidebar"
@import "modules/viewer"

// -------------------------------------
//   Inbox
// -------------------------------------

.colophon
  background-color: $c-background
  overflow: hidden
  padding: $b-whitespace $b-whitespace 0
  margin: 0
  @media screen and (min-width: #{$bp-settings}) and (min-height: $bp-colophon)
    background-color: transparent
    position: fixed
    width: $b-sidebar-width
    padding-top: 0
    bottom: 0
    right: 0
    z-index: 1

