// *************************************
//
//   Application
//   -> MVCSS v3.0.3 ~ v4.0.0-alpha
//   Because an MIT license means I can
//   pick and choose what I like
//
// *************************************

// -------------------------------------
//   Core
// -------------------------------------

@import "core/reset"
@import "core/settings"
@import "core/helpers"
@import "core/utilities"
@import "core/base"

// -------------------------------------
//   Components
// -------------------------------------

@import "components/bucket"
@import "components/card"
@import "components/cell"
@import "components/grid"
@import "components/row"

// -------------------------------------
//   Structures
// -------------------------------------

@import "modules/button"

@import "modules/accordion"
@import "modules/form"
@import "modules/icon"
@import "modules/input"
@import "modules/logo"
@import "modules/scale"
@import "modules/sidebar"

// -------------------------------------
//   Inbox
// -------------------------------------

.footer
  +respond-to(800px)
    position: fixed
    width: 300px
    padding: 0 $b-whitespace
    bottom: 0
    right: 0

