.layout

  %section.layout-settings.bci
    .row
      .well

        %header.mbl.tac
          = image_tag lorem.image '240x50'
          %p.mbf Design with math.

        %form
          - # ...

        %p Design and developed by John D. Jameson

  .layout-section
    .row
      .well

        %ul.scale
          - ( 5..30 ).each do | size |
            - size = ( size ** 1.6 ).round
            %li.scale-item
              %span.scale-item-label #{ size }px
              %span.scale-item-preview{ style: "font-size: #{ size }px" }
                Lorem ipsum dolor sit amet
