.layout

  %section.layout-settings.bci
    .row
      .well

        %header.mbl.tac
          = image_tag lorem.image '240x50'
          %p.mbf Design with math.

        %form
          - # ...

        %p Design and developed by John D. Jameson

  .layout-section
    .row
      .well

        %ul
        - ( 5..20 ).each do | index |
          %li{ style: "font-size: #{ index ** 1.5 }px" } Lorem ipsum dolor sit amet
