.layout

  %section.layout-settings.bci
    .row
      .well

        %header.mbl.tac
          = image_tag lorem.image '240x50'
          %p.mbf Design with math.

        %form.form
          %fieldset.form-field.mbl
            %label.split.mbm
              .split-cell
                %span.form-label Base Size
              .split-cell
                %input.form-input.form-input--number#base{ type: 'number', min: 8, max: 64, value: 16, data: { inputSet: 1 }, autofocus: true }
            %input.range{ type: 'range', min: 8, max: 64, value: 16, data: { inputSet: 1 }, tabindex: -1 }

          %fieldset.form-field.mbl
            %label.split.mbm
              .split-cell
                %span.form-label Alternate Size
              .split-cell
                %input.form-input.form-input--number#alternate{ type: 'number', min: 8, max: 360, value: 50, data: { inputSet: 2 } }
            %input.range{ type: 'range', min: 8, max: 360, value: 50, data: { inputSet: 2 }, tabindex: -1 }

          %fieldset.form-field.mbl
            %label.split.mbm
              .split-cell
                %span.form-label Scale Ratio
              .split-cell
                %input.form-input.form-input--number#ratio{ type: 'number', min: 1.1, max: 3, step: 0.025, value: 1.6, data: { inputSet: 3 } }
            %input.range{ type: 'range', min: 1.1, max: 3, step: 0.025, value: 1.6, data: { inputSet: 3 }, tabindex: -1 }

          %fieldset.form-field
            %label
              %span.form-label Preview Text
              %textarea.form-input.form-input--textarea#text{ rows: 1 } lorem ipsum dolor sit amet

          %fieldset.form-field
            %label
              %span.form-label URL
              %input.form-input{ type: 'text', disabled: true }

        %p.tac
          Designed and developed by
          = link_to 'John D. Jameson', 'http://johndjameson.com/', class: 'dib'

  .layout-section
    .row
      .well

        %ul.scale.js-scale
          - ( 5..30 ).each do | size |
            - size = ( size ** 1.6 ).round
            %li.scale-item
              %span.scale-item-label #{ size }px
              %span.scale-item-preview{ style: "font-size: #{ size }px" }
                Lorem ipsum dolor sit amet
